body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgb(36, 36, 37);
  color: rgb(212, 206, 206);
  text-align: center;
}
.App {
  width: 960px;
  margin: 80px auto;
}
h1 {
  color: #ff9900;
  font-size: 4em;
  letter-spacing: 2px;
}
.content {
  text-align: left;
}

.footer {
  padding-top: 48px;
}
