.card {
  padding: 8px 16px;
  background: #1b1b1b;
  margin: 16px 0;
  border-radius: 20px;
}
.card p {
  margin: 6px 0;
  color: #999;
}
.card h3 {
  margin: 10px 0;
  color: #ffff57;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pagination span {
  font-size: larger;
  margin-top: auto;
  margin-bottom: auto;
}
